doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='assets/img/favicon.ico')
    title Fides - Be a Leader Startup
    // Bootstrap core CSS
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='assets/css/custom-animations.css', rel='stylesheet')
    link(href='assets/css/style.css', rel='stylesheet')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='assets/js/ie10-viewport-bug-workaround.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    #h
      .container
        .row
          li
            button.btn.btn-lg.btn-info.btn-register PRICING
          .col-md-10.col-md-offset-1.mt
            h3 WE MADE AN APP WHICH WILL HELP YOU TO
            h1.mb BE A LEADER STARTUP
          .col-md-12.mt.hidden-xs
            img.img-responsive.aligncenter(src='assets/img/graph.png', alt='', data-effect='slide-bottom')
    #w
      .row.nopadding
        .col-md-5.col-md-offset-1.mt
          h4 Handsome Analytics
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          p
            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          p
            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p.mt
            button.btn.btn-info.btn-theme Sign Up Now | 14 Days Free
        .col-md-6.pull-right
          img.img-responsive.alignright(src='assets/img/shot01.png', alt='', data-effect='slide-right')
    #picton
      .row.nopadding
        .col-md-6.pull-left
          img.img-responsive.alignleft(src='assets/img/shot02.png', alt='', data-effect='slide-left')
        .col-md-5.mt
          h4 Multiple Templates Options
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          p
            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          p
            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p.mt
            button.btn.btn-white.btn-theme Sign Up Now | 14 Days Free
    #curious
      .row.nopadding
        .col-md-5.col-md-offset-1.mt
          h4 Important Tools Provided
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          p
            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          p
            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p.mt
            button.btn.btn-white.btn-theme Sign Up Now | 14 Days Free
        .col-md-6.pull-right
          img.img-responsive.alignright(src='assets/img/shot03.png', alt='', data-effect='slide-right')
    #malibu
      .row.nopadding
        .col-md-6.pull-left
          img.img-responsive.alignleft(src='assets/img/shot04.png', alt='', data-effect='slide-left')
        .col-md-5.mt
          h4 Try Us For Free
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          p
            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          p
            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p.mt
            button.btn.btn-white.btn-theme Sign Up Now | 14 Days Free
    #jelly
      .row.nopadding
        .col-md-5.col-md-offset-1.mt
          h4 Don't Wait, Try Us Now
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          p
            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          p
            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p.mt
            button.btn.btn-white.btn-theme Sign Up Now | 14 Days Free
        .col-md-6.mt.centered
          h1(data-effect='slide-bottom') 24
          h3 $ per month
    #f
      .container
        .row
          .col-md-8.col-md-offset-2.centered
            h4.mb Grab Our Offer Now. Try Us For 14 Days Totally Free.
            form(role='form', action='register.php', method='post', enctype='plain')
              input.subscribe-input(type='email', name='email', placeholder='Enter your e-mail address...', required='')
              button.btn.btn-lg.btn-info.btn-sub.subscribe-submit(type='submit') Yes, Please
    #c
      .container
        .row
          .col-md-6.col-md-offset-3.centered
            p Copyright 2014 | LandingSumo.com
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/retina-1.1.0.js')
    script(src='assets/js/jquery.unveilEffects.js')
